@model StudyPoint.ViewModels.DiscussionViewModel
@{
    ViewBag.Title = "DiscussionBoard";
    Layout = "~/Views/Shared/UserSharedView.cshtml";
}
<br />
<h2>Discussion Board</h2>
<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Previous Discussions</th>
            <th>By: </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Discussions)
        {
            <tr>
                <td>@item.DiscussionMessage</td>
                <td>@item.CustomerUserName</td>
            </tr>
        }
    </tbody>
</table>

<br />
@*<h3>Your Thoughts </h3>*@

@using (Html.BeginForm("DiscussionBoard", "User2", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SingleUser.DiscussionMessage, new { style = "font-size:15px;"})
        @Html.TextBoxFor(m => m.SingleUser.DiscussionMessage, new { @class = "form-control", rows="10", style= "width: 80%; max-width: 100%"})
    </div>
    @Html.HiddenFor(m => m.SingleUser.Id)
        
    <button type="submit" class="btn btn-primary">Save</button>
}



